<launch>
    <node pkg="setting_tf2" type="setting_joystickBase_tf" name="setting_joystickBase_tf"/>
    <node pkg="setting_tf2" type="setting_joystickCMD_tf" name="setting_joystickCMD_tf"/>
    <node pkg="setting_tf2" type="setting_endEffector_tf" name="setting_endEffector_tf"/>
    <node pkg="setting_tf2" type="tf_listener" name="tf_listener"/>
</launch>
