<launch>
    <node pkg="dasom_tf2" type="dasom_tf2_broadcaster" name="dasom_tf2_broadcaster" output="screen"/>
    <node pkg="dasom_tf2" type="dasom_tf2_listener" name="dasom_tf2_listener" output="screen"/>
    <node pkg="dasom_tf2" type="dasom_tf2_listener2" name="dasom_tf2_listener2" output="screen"/>
    <node pkg="dasom_tf2" type="dasom_tf2_listener3" name="dasom_tf2_listener3" output="screen"/>
</launch>
