<launch>
  <arg name="model"/>
  <arg name="urdf_file" default="$(find xacro)/xacro --inorder '$(find dasom_description)/urdf/dasom_manipulator.urdf.xacro'" />
  <param name="robot_description" command="$(arg urdf_file)" />

  <!-- Send joint values -->
  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher">
    <rosparam param="source_list" subst_value="true">["joint_states"]</rosparam>
  </node>

  <!-- Send joint command -->

  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>


  <!-- Combine joint values to TF-->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- Show in Rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find dasom_description)/rviz/dasom.rviz"/>
</launch>
